.ant-modal-content {
	border-radius: 15px;
}
.Dialog-claim {
	.Dialog-claim-contents {
		padding-left: 43px;
		padding-right: 45px;
		padding-top: 30px;
		padding-bottom: 76px;
	}

	.dl-claim-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 175%;
		color: #001f4d;
	}
	.dialog-claim-contents-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 175%;
		padding-bottom: 3px;

		color: #001f4d;
	}
	.dialog-claim-datetime {
		height: 50px;
		width: 100%;

		border: 1px solid #001f4d;
		border-radius: 10px;
	}
	.ipdl-claim-max {
		height: 50px;

		border: 1px solid #001f4d;
		border-radius: 10px;
	}
	.dl-claim-btn-bot {
		padding-top: 41px;
		width: 100%;
		justify-content: space-around;
	}
	.btn-apply {
		width: 100px;
		height: 44px;

		background: linear-gradient(
			90deg,
			#61009d 0%,
			rgba(90, 231, 240, 0.64) 100%
		);
		/* 0048B2 Primary Color Shadow 25% */

		box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 175%;

		color: #ffffff;
	}
	.btn-cancel {
		width: 100px;
		height: 44px;

		background: #000000;

		box-shadow: 0px 2px 4px rgba(138, 146, 166, 0.3);
		border-radius: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 175%;

		color: #ffffff;
	}
}
