.sr-exchangerate-showip--h {
	height: 8.75rem;
}
.ip-sr-exchange-rate {
	padding-top: 0rem;
	padding-bottom: 0rem;
	.ant-input {
		height: 100%;
	}
	.ant-input-group {
		height: 100%;
	}
	.ant-input-suffix {
		border-left: 0.06rem solid #d9d9d9;

		div {
			padding-left: 0.4rem;
		}
	}
}
