.sr-generalinfor-showip--h {
	height: 18.25rem;
}

.sr-input-name {
	margin-bottom: 10px;
}

.sr-name-sale-round {
	display: flex;
	align-items: center;
}

.sr-checkbox-user-date {
	padding-left: 22px;
}

.sr-user-date {
	position: relative;
	z-index: 2;
	top: 329px;
	left: 110px;
}

.sr-checkbox-show {
	margin-left: 30px;
	margin-top: 16px;
}

.sr-input-name-sale-round {
	flex: 1;
}
