GENERATE_SOURCEMAP=false
NODE_ENV=development

REACT_APP_BSC_CHAIN_ID=97
REACT_APP_BSC_CHAIN_ID_HEX=0x61
REACT_APP_BSC_BLOCK_EXPLORER_URL=https://testnet.bscscan.com
REACT_APP_BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
REACT_APP_BSC_NAME="Binance SmartChain Testnet"
REACT_APP_BASE_API_URL=https://api.galactix.sotatek.works/api

REACT_APP_SIGN_MESSAGE="Sign this message to login with account"
REACT_APP_PRESALE_POOL_CONTRACT=0x074AA2eBb1fA8e21EB14E19d68ad35EB127686b0
REACT_APP_DNFT_CONTRACT=0x3e08d2090C12Ec49e61700D15F8F3e2D7d3DE7bf
REACT_APP_DKEY_NFT_CONTRACT=0x9B2f763022b563F0939a8925605AD4e25C3ee080
