.wallet-radio-btn {
	background: rgba(255, 255, 255, 0.1);
	height: auto !important;
	width: 170px;
	border: 2px solid transparent !important;
	padding: 1rem;
	border-radius: 0.5rem !important;

	&:not(:first-child)::before {
		display: none;
	}

	&.ant-radio-button-wrapper-checked {
		background: rgba(255, 255, 255, 0.1);
		border: 2px solid #1890ff !important;

		&::after {
			content: '';
			position: absolute;
			top: 4px;
			right: 4px;
			background: url('../../../../../assets/icons/check.svg') no-repeat center;
			width: 20px;
			height: 20px;
			background-color: #1890ff;
			border-radius: 4px;
			animation: check 0.2s ease-in;
		}
	}

	.wallet-radio-btn-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		gap: 0.8rem;
	}
}

@keyframes check {
	0% {
		opacity: 0.7;
	}

	100% {
		opacity: 1;
	}
}
