.app-layout {
	min-height: 100vh;
	margin-left: 250px;
}

.app-sider {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;

	&-menu.ant-menu.ant-menu-dark {
		padding: 0 0.5rem;
		border-right: 0;

		li {
			font-size: 16px;
			border-radius: 8px;
		}
	}
}

.app-content {
	position: relative;
	padding: 2rem;
}
