.system-setting {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	&-form {
		margin-top: 2rem;

		&__btn {
			margin-top: 20px;
			text-align: center;
		}
	}

	.ant-card-head {
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}
