.admin-form {
	display: flex;
	border-radius: 0.75rem;
	overflow: hidden;
	margin-top: 2rem;

	.ant-card-head {
		color: #fff;
		font-weight: bold;
		text-align: center;
		background-image: linear-gradient(
			to right,
			#c04848 0%,
			#480048 51%,
			#c04848 100%
		);
		background-position: right center; /* change the direction of the change here */
	}
}
