@import '~antd/dist/antd.css';

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

.ant-form-item-label
	> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
	display: none;
}
.ant-form-item-label
	> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
	display: inline-block;
	margin-right: 0.25rem;
	color: #ff4d4f;
	font-size: 0.875rem;
	font-family: SimSun, sans-serif;
	line-height: 1;
	content: '*';
}

.justify-content-end {
	justify-content: end;
}
.d-flex {
	display: flex;
}
.justify-content-space {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.icon-copy-wallet {
	padding-left: 0.5rem;
	padding-right: 1.063rem;
}
.align-items-center {
	align-items: center !important;
}
.justify-content-center {
	justify-content: center !important;
}
.cursor-pointer {
	cursor: pointer;
}
